BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: 100
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
IndentPPDirectives: None # 预处理指令（如 #include, #ifdef）不缩进，这是 LLVM 风格的标配